# For detailed configuration reference documentation, visit:
# https://supabase.com/docs/guides/local-development/cli/config

[api]
port = 54321
schemas = ["public", "storage", "graphql_public"]
extra_search_path = ["public", "extensions"]

[db]
port = 54322
major_version = 15

[studio]
enabled = true
port = 54323
api_url = "http://localhost:54321"

[auth]
enabled = true
site_url = "http://localhost:8080"
additional_redirect_urls = ["http://localhost:8080/*"]
jwt_expiry = 3600
enable_refresh_token_rotation = true
refresh_token_reuse_interval = 10

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = true

[auth.sms]
enable_signup = true
enable_confirmations = false

[analytics]
enabled = false

[functions.calculate-goals]
verify_jwt = true

[functions.heart-data]
verify_jwt = true

[functions.search-food]
verify_jwt = true